@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  height: 100vh;
  color: white;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c1775072-e862-493c-8372-38c61fe596fb/df4a6re-30d31bc8-7b93-4238-96de-cc9a1f74c8ec.png/v1/fill/w_1192,h_670,q_70,strp/monkey_d__luffy_by_ziullf_df4a6re-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTgwMCIsInBhdGgiOiJcL2ZcL2MxNzc1MDcyLWU4NjItNDkzYy04MzcyLTM4YzYxZmU1OTZmYlwvZGY0YTZyZS0zMGQzMWJjOC03YjkzLTQyMzgtOTZkZS1jYzlhMWY3NGM4ZWMucG5nIiwid2lkdGgiOiI8PTMyMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.sEhYtEfObIV9tfHtm40DpJWWhsGP2IChMexlugrP5nI");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.square-items{
  text-align: center;
  width: 100px;
  padding: 0px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.correct{
  background-color: #40a45c;
}

.incorrect{
  background-color: #d83434;
}

.partial{
  background-color: #f8dc44;
}