@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.square-items{
  text-align: center;
  width: 100px;
  padding: 0px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.correct{
  background-color: #40a45c;
}

.incorrect{
  background-color: #d83434;
}

.partial{
  background-color: #f8dc44;
}